<th:block th:fragment="footerFragment">

    <script src="../../js/footer.js"></script>
    <script src="https://kit.fontawesome.com/047a434073.js" crossorigin="anonymous"></script>

    <div class="footer">
        <div class="company_info">
            <div class="row1">
                <div class="item">
                    <div>
                        <div class="icon">
                            <a href="https://github.com/clldflwr"><i class="fa-brands fa-github-square fa-2xl"></i></a>
                            <span>Github: https://github.com/clldflwr</span>
                        </div>
                        <div class="icon">
                            <a href="https://www.google.com/intl/ko/gmail/about/"><i class="fa-brands fa-google fa-xl"></i></a>    
                            <span>Email: dlwjddlr97@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>