<th:block th:fragment="headerFragment">

  <script src="../../js/headerToggle.js"></script> <!-- 제이쿼리 프로그램 연결(토글) -->

  <body>
    <div class="header cfixed">
      <nav>
        <ul class="main_nav">
          <li><a href="/">Statistics</a></li>
          <li><a href="/notice">Notice</a></li>
          <li><a href="/product">Product</a></li>
          <li><a href="/store">ShopInfo</a></li>
          <li><a href="/customerService">CustomerService</a></li>
          <li><a href="/brandInfo">Brand</a></li>
        </ul>
      </nav>
      <span class="menu-toggle-btn">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="logo">
        <a href="/"><img src="../../images/adminLogo.png" alt="로고 이미지"></a>
      </div>
    </div>
  </body>

</th:block>