<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fragrantia Admin Join</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description" content="향의 이야기 당신을 초대합니다.">
    <meta property="og:image" content="https://green-six.github.io/Fragrantia-User-Web/images/ogLogo.png">

    <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon-96x96.png">
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/page/join.css">

    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/join.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
</head>

<body>
    <div id="logoNav"></div>
    <div class="logo-nav">
        <a href="/auth/login" class="logo-link">
            <img class="logo-img" src="../../images/adminLogo.png">
        </a>
    </div>
    <div class="join-box">
        <h2>JOIN</h2>
        <form id="join-form">
            <div class="user-box">
                <input type="text" name="email" id="email" required="" oninput="checkEmailDuplication()">
                <label class="box-label">Email</label>
            </div>
            <span class="error-message"></span>
            <span class="id_ok">사용 가능한 아이디입니다.</span>
            <span class="id_already">중복된 아이디입니다.</span>

            <div class="user-box">
                <input type="password" id="password" name="password" required="">
                <label class="box-label">Password</label>
            </div>
            <span class="error-message"></span>

            <div class="user-box">
                <input type="password" name="confirm-password" required="">
                <label class="box-label">Confirm Password</label>
            </div>
            <span class="error-message"></span>

            <div class="user-box">
                <input type="text" id="name" name="name" required="">
                <label class="box-label">Name</label>
            </div>
            <span class="error-message"></span>

            <div class="user-box">
                <input type="text" id="branch" name="branch" required="">
                <label class="box-label">Branch</label>
            </div>
            <span class="error-message"></span>

            <div class="submit-box" id="join">
                <input type="submit" value="Join">
            </div>
        </form>
    </div>
</body>

</html>
